/* General ------------------------------------------------------------------ */

body {
  color: #404040;
}

.fullheight {
  height: 100vh;
  min-height: 730px;
}

h1 {
  padding: 35px 0;
  margin: 0;
  font-family: 'Menlo', monospace;
  font-size: 16px;
}

h2 {
  color: #ff135b;
  font-weight: 200;
  font-size: 40px;
}

h3 {
  font-weight: 200;
}

/* Top Nav ------------------------------------------------------------------ */

.topnav {
  background: #bfbfbf;
  padding: 8px 0;
}

.topnav a {
  color: #404040;
  text-transform: uppercase;
}

/* Header ------------------------------------------------------------------- */

header {
  height: 100%;
  text-align: center;
}

header img#logo {
  width: 256px;
}

header p {
  padding: 35px 0;
  margin: 0;
  font-family: 'Menlo', monospace;
}

header .download {
  background: lightcyan;
  padding: 15px;
  margin: 20px;
  border-radius: 16px;
}

header .download .btn {
  margin-bottom: 4px;
}

header .download .version {
  margin-top: 8px;
}

/* About -------------------------------------------------------------------- */

.about {
  background: #f4f4f4;
  padding-top: 90px;
}

.about img {
  width: 100%;
}

.screenshots {
  padding: 45px 0;
  font-size: 30px;
  font-weight: 200;
}

.screenshots .row {
  padding: 45px 0;
}

/* LudOS -------------------------------------------------------------------- */

.ludos {
  background: #404040;
  padding-top: 90px;
  color: white;
}

.ludos em {
  color: #ff135b;
  font-style: normal;
}

/* FAQ ---------------------------------------------------------------------- */

.faq {
  background: #f4f4f4;
  padding: 90px 0;
}

.faq h3 {
  margin-top: 45px;
  margin-bottom: 25px;
}

/* Footer ------------------------------------------------------------------- */

/* Top Nav ------------------------------------------------------------------ */

footer {
  background: #404040;
  padding: 16px 0;
  color: white;
}

footer a {
  color: lightblue;
}